---
import { Image } from "astro:assets";
import windMill from '../assets/windmillBgSm.jpg'
import cantastik from '../assets/cantastik.webp'
import quiz from '../assets/quiz.webp'
import typescary from '../assets/typescary.png'
import ShortArrow from "./icons/ShortArrow.astro";
import PlusIcon from "./icons/PlusIcon.astro";
import ModalBtn from "./ModalBtn";
 
interface Props{
  openCard?: "Crowmie" | "Cantastik" | "GameQuiz";
}

const { openCard } = Astro.props;

const arrowButtonStyles:React.CSSProperties = {
  position:'absolute', right:'5px', bottom:'5px', zIndex:2
}

---
<article class="crowmie">
  <Image  src={windMill} width={300} alt={'Crowmie'} />
  <div class="crowmie__info" >
    <div class="crowmie__header">
      <span>Mi paso por</span>
      <h2>Crowmie</h2>
    </div>
    <div class="crowmie__desc">
      <h3>Frontend developer UX/UI</h3>
      <p>Encargado del <b>análisis, diseño e implementación</b> de nuevas features y sistemas. Desde el estado inicial de la idea hasta la subida a producción.</p>
    </div>
    <div class="crowmie__link">
      <ModalBtn client:load target="Crowmie" defaultOpen={openCard === 'Crowmie'} >
        <div>
          <span>Ver más</span>
          <ShortArrow/>
        </div>
      </ModalBtn>
    </div>
  </div>
</article>
<article class="cantastik">
  <ModalBtn client:load target="Cantastik" customStyles={arrowButtonStyles} >
    <div>
      <ShortArrow/>
    </div>
  </ModalBtn>
  <Image width={300} src={cantastik} alt="Cantastik" />
</article>
<article class="gameQuiz">
  <ModalBtn client:load target="GameQuiz" customStyles={arrowButtonStyles} >
    <div>
      <ShortArrow/>
    </div>
  </ModalBtn>
  <Image width={300} src={quiz} alt="GameQuiz" />
</article>
<article class="typescary">
  <div class="typescary__info">
    <h2>TypeScary</h2>
    <span>Póximamente</span>
  </div>
  <Image width={800} src={typescary} alt="TypeScary" />
</article>


<style lang="scss">

  article{
    position: relative;
    padding: 1.6rem;
    box-shadow: #00000070 0px 5px 13px 0px;
    overflow: hidden;
    border-radius: 1.25rem;
    >img{
      z-index: 1;
      position:absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .cantastik, .gameQuiz{
    @media screen and (max-width: 1100px) {
      // min-height: 25rem;      
      aspect-ratio: 1/1;
    }
    div{
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      background-color: #000;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .typescary{
    grid-column: span 2;
    @media screen and (max-width: 1100px) {
      grid-column: span 2;
      min-height: 25rem;
    }
    @media screen and (max-width: 777px){
        >img{ filter: brightness(.5); }
      }
    .typescary__info{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      z-index: 2;
      width: 50%;
      height: 100%;
      >*{
        color: white;
      }
      h2{
        font-size: min(4rem, 14vw);
        font-weight: 800;
      }
      span{
        font-size: min(2rem, 7vw);
      }
      @media screen and (max-width: 777px){
        width: 100%;
      }
    }
  }

  .crowmie{
    grid-row: span 2;
    @media screen and (max-width: 1100px) {
      grid-column: span 2;
      min-height: 25rem;
    }
    .crowmie__info{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      height: 100%;
      color: white;
      .crowmie__header{
        z-index: 2;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        >h2{
          font-size: min(4rem, 13vw);
          font-weight: 800;
          font-style: italic;
          line-height: .8;
        }
      }
      .crowmie__desc{
        position: relative;
        z-index: 2;
        display: flex;
        gap: .5rem;
        flex-direction: column;
        >*{
          font-size: 1rem;
        }
        >h3{
          color:#B7B5B5;
        }
      }
      >.crowmie__link{
        position: relative;
        z-index: 2;
        width: 100%;
        display: flex;
        justify-content: center;
        div{
          background: black;
          text-decoration: none;
          color: #fca311;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          gap: .5rem;
          padding: .5rem 1rem;
          border-radius: 20rem;
        }
      }
    }
    
  }
</style>